<div class="hard-suit-stats">
  <div>
    <div class="icrpg-sep-long" style="margin-bottom: 8px; background-size: cover; margin-top: 0"></div>
    {{>hsAttributeBlock attributeName="strength"}}
    {{>hsAttributeBlock attributeName="dexterity"}}
    <div class="icrpg-sep-long" style="margin-bottom: 8px; background-size: cover"></div>
    {{>chAttributeBlock attributeName="constitution"}}
    {{>chAttributeBlock attributeName="intelligence"}}
    {{>chAttributeBlock attributeName="wisdom"}}
    {{>chAttributeBlock attributeName="charisma"}}
    <div class="icrpg-sep-long" style="margin-bottom: 8px; background-size: cover"></div>
  </div>

  <div>
    <div style="margin-top: 8px"></div>
    {{>effortBlock die="d4"  effortName="basic"}}
    {{>effortBlock die="d6"  effortName="weapons"}}
    {{>effortBlock die="d8"  effortName="guns"}}
    {{>effortBlock die="d10" effortName="energy"}}
    {{>effortBlock die="d12" effortName="ultimate"}}
  </div>
</div>

{{#*inline "hsAttributeBlock"}}
  <div data-attribute="{{attributeName}}" data-group="attributes" class="icrpg-attribute-block hard-suit-attribute-block">
    {{#with (lookup system.attributes attributeName) as | attribute |}}
      <div class="ff-header" style="font-size: 48px">
        {{localizeConcat "ICRPG.attributesShort." ../attributeName}}
      </div>
      <div class="dice-container" data-roll="{{../attributeName}}">
        <span>{{defaultValue attribute.total 0}}</span>
        <img src="systems/icrpgme/assets/ui/dice-transparent/d100.webp">
      </div>
      <div class="icrpg-mods-values">
        <div class="icrpg-mods-sep"></div>
        <div>
          <input type="number" name="system.attributes.{{../attributeName}}.base"
                 value="{{defaultValue attribute.base ""}}"
                 min="-10" max="10" {{readonly ../isLocked}}>
          <div>{{localize "ICRPG.base"}}</div>
        </div>
        <div class="icrpg-mods-sep"></div>
        <div>
          <input type="number" name="system.attributes.{{../attributeName}}.loot"
                 value="{{defaultValue attribute.loot ""}}"
                 min="-10" max="10" {{readonly ../isLocked}}>
          <div>{{localize "ICRPG.loot"}}</div>
        </div>
      </div>
    {{/with}}
  </div>
{{/inline}}

{{#* inline "chAttributeBlock"}}
  <div data-attribute="{{attributeName}}" data-group="attributes" class="icrpg-attribute-block">
    {{#with (lookup system.attributes attributeName) as | attribute |}}
      <div class="ff-header" style="font-size: 48px">
        {{localizeConcat "ICRPG.attributesShort." ../attributeName}}
      </div>
      <div class="dice-container" data-roll="{{../attributeName}}">
        <span>{{defaultValue attribute.total 0}}</span>
        <img src="systems/icrpgme/assets/ui/dice-transparent/d20.webp">
      </div>
      <div class="icrpg-mods-values">
        <div class="icrpg-mods-sep"></div>
        <div>
          <input type="number" name="system.attributes.{{../attributeName}}.base"
                 value="{{attribute.base}}" readonly>
          <div>{{localize "ICRPG.hardSuit.pilot"}}</div>
        </div>
        <div class="icrpg-mods-sep"></div>
        <div>
          <input type="number" name="system.attributes.{{../attributeName}}.loot"
                 value="{{defaultValue attribute.loot ""}}"
                 min="-10" max="10" {{readonly ../isLocked}}>
          <div>{{localize "ICRPG.loot"}}</div>
        </div>
      </div>
    {{/with}}
  </div>
{{/inline}}

{{#* inline "effortBlock"}}
  <div data-attribute="{{effortName}}" data-group="efforts" class="icrpg-attribute-block">
    {{#with (lookup system.efforts effortName) as | effort |}}
      <div class="ff-header" style="font-size: 28px; text-align: right; width: 190px; white-space: pre-line">
        {{~wrapAmpersand (localizeConcat "ICRPG.effortsLong." ../effortName)~}}
      </div>
      <div class="dice-container" style="margin-left: 2px" data-roll="{{../effortName}}">
        <span>{{defaultValue effort.total 0}}</span>
        <img src="systems/icrpgme/assets/ui/dice-transparent/{{../die}}.webp">
      </div>
      <div class="icrpg-mods-values">
        <div class="icrpg-mods-sep"></div>
        <div>
          <input type="number" name="system.efforts.{{../effortName}}.base" value="{{defaultValue effort.base ""}}"
                 min="-10" max="10" {{readonly ../isLocked}}>
          <div>{{localize "ICRPG.base"}}</div>
        </div>
        <div class="icrpg-mods-sep"></div>
        <div>
          <input type="number" name="system.efforts.{{../effortName}}.loot" value="{{defaultValue effort.loot ""}}"
                 min="-10" max="10" {{readonly ../isLocked}}>
          <div>{{localize "ICRPG.loot"}}</div>
        </div>
      </div>
    {{/with}}
  </div>
{{/inline}}
