<section class="tab scrollable {{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">

  <div class="form-group stacked">
    <label>{{localize "ICRPG.journal.dew"}}</label>
    {{ formField fields.danger value=system.danger label="ICRPG.journal.danger" localize=true elementType="input" }}
    {{ formField fields.energy value=system.energy label="ICRPG.journal.energy" localize=true elementType="input" }}
    {{ formField fields.wonder value=system.wonder label="ICRPG.journal.wonder" localize=true elementType="input" }}
  </div>

  <div class="form-group stacked">
    <label>{{localize "ICRPG.journal.ttt"}}</label>
    {{ formField fields.timers value=system.timers label="ICRPG.journal.timers" localize=true elementType="input" }}
    {{ formField fields.threats value=system.threats label="ICRPG.journal.threats" localize=true elementType="input" }}
    {{ formField fields.treats value=system.treats label="ICRPG.journal.treats" localize=true elementType="input" }}
  </div>

  <div class="form-group stacked">
    <label>{{localize "ICRPG.journal.ddd"}}</label>
    {{ formField fields.damage value=system.damage label="ICRPG.journal.damage" localize=true elementType="input" }}
    {{ formField fields.disruption value=system.disruption label="ICRPG.journal.disruption" localize=true
                 elementType="input" }}
    {{ formField fields.duration value=system.duration label="ICRPG.journal.duration" localize=true
                 elementType="input" }}
  </div>

  <div class="form-group stacked">
    <label>{{localize "ICRPG.journal.encounter"}}</label>
    {{ formField fields.encounterType value=system.encounterType label="ICRPG.journal.encounterType" localize=true
                 elementType="input" }}
    {{ formField fields.encounterTarget value=system.encounterTarget label="ICRPG.journal.encounterTarget" localize=true
                 elementType="input" }}
  </div>

</section>
