<div class="timer-target-container">
  {{#each targets as |target|}}
    <div class="target" data-index="{{@index}}" data-group="targets">
      <img src="systems/icrpgme/assets/ui/dice-red/target.webp">
      <input type="number" class="value" data-target="value" value="{{target.value}}" {{readonly (not ../user.isGM)}}>
      <div class="target-mod">
        {{#if target.isEasy}}
          -3
        {{else if target.isHard}}
          +3
        {{/if}}
      </div>
      {{#if (gt @index 0)}}
        <input type="text" class="name" data-target="name" value="{{target.name}}" {{readonly (not ../user.isGM)}}
               autocomplete="off" spellcheck="false" {{#if ../user.isGM}}placeholder="{{localize "ICRPG.name"}}"{{/if}}>
      {{/if}}
    </div>
  {{/each}}
  {{#each timers as |timer|}}
    <div class="timer" data-index="{{@index}}" data-group="timers">
      <img src="systems/icrpgme/assets/ui/dice-red/d4.webp">
      <input type="number" class="value" data-target="value" value="{{timer.value}}" {{readonly (not ../user.isGM)}}>
      <input type="text" class="name" data-target="name" value="{{timer.name}}" {{readonly (not ../user.isGM)}}
             autocomplete="off" spellcheck="false" {{#if ../user.isGM}}placeholder="{{localize "ICRPG.name"}}"{{/if}}>
    </div>
  {{/each}}
</div>
