{{log @root}}

<section class="character-header" style="overflow-y: auto">
  {{#*inline "headerField"}}
    <div class="icrpg-header-field">
      <span class="ff-header">{{localize label}}</span>
      <input class="c-red" type="text" name="{{name}}" value="{{value}}" {{readonly @root.readonly}}>
    </div>
  {{/inline}}

  <div class="icrpg-sheet-header">
    <div class="flex-row">
      {{> headerField name="name" value=document.name label="Name"}}
      {{> headerField name="system.world" value=system.world label="ICRPG.world"}}
      {{> headerField name="system.lifeform" value=system.lifeform label="ICRPG.lifeform"}}
      {{> headerField name="system.type" value=system.type label="Type"}}
    </div>
    <div class="icrpg-sep-long"></div>
    <div class="flex-row" style="margin-top: 12px">
      {{> headerField name="system.story" value=system.story label="ICRPG.story"}}
    </div>
    <div class="icrpg-sep-long"></div>
  </div>

</section>
