<section class="monster-header">
  <!--  ACTOR NAME-->
  <div class="icrpg-name-container">
    <input type="text" name="name" value="{{document.name}}" {{readonly readonly}}>
  </div>

  <!--  HEARTS-->
  {{#if readonly}}
    <div class="icrpg-hp-container" style="display: flex; height: 22px">
      {{>heart index=0}}
      {{>heart index=1}}
      {{>heart index=2}}
      {{>heart index=3}}
      {{>heart index=4}}
      {{>heart index=5}}
      {{>heart index=6}}
      {{>heart index=7}}
      {{>heart index=8}}
      {{>heart index=9}}
      {{#if system.extraHealth}}
        <div
          style="font-family: 'Carlito', sans-serif; font-size: 16px; font-weight: bold;">{{system.extraHealth}}</div>
      {{/if}}
    </div>
  {{else}}
    <div class="icrpg-hp-container" style="display: flex; height: 32px">
      {{>selectableHeart index=0}}
      {{>selectableHeart index=1}}
      {{>selectableHeart index=2}}
      {{>selectableHeart index=3}}
      {{>selectableHeart index=4}}
      {{>selectableHeart index=5}}
      {{>selectableHeart index=6}}
      {{>selectableHeart index=7}}
      {{>selectableHeart index=8}}
      {{>selectableHeart index=9}}
    </div>
  {{/if}}

</section>


<!-- HELPERS -->
{{#* inline "selectableHeart"}}
  <div class="icrpg-selectable-heart" data-index="{{index}}" data-action="setHearts">
    <img class="heart" src="{{healthImageChooser document index}}">
  </div>
{{/inline}}

{{#* inline "heart"}}
  {{#if (gt system.health.hearts index)}}
    <div class="icrpg-heart">
      <img class="heart" src="{{healthImageChooser document index}}">
    </div>
  {{/if}}
{{/inline}}
