<div class="icrpg-chat-title ff-header">
  {{localizeType item}}: {{item.name}}
</div>

<div class="icrpg-chat-body {{item.type}}">
  {{#if (and item.img (ne item.img 'icons/svg/item-bag.svg'))}}
    <img class="icrpg-chat-item-img" src="{{item.img}}">{{/if}}

  {{#if (eq item.type "power")}}
    <div class="icrpg-chat-description"><b><i>{{~item.system.description~}}</i></b></div>

    {{#if itemOptions.index includeZero=true}}
      {{#with (lookup item.system.spCosts itemOptions.index)}}
        <div class="icrpg-chat-description"><b>{{localize "ICRPG.spCost"}} {{cost}}: </b>{{description}}</div>
      {{/with}}
    {{else}}
      {{#each item.system.spCosts}}
        <div class="icrpg-chat-description"><b>{{localize "ICRPG.spCost"}} {{cost}}: </b>{{description}}</div>
      {{/each}}
    {{/if}}

    <div class="icrpg-discrete-selector-container" data-tooltip="ICRPG.mastery">
      <div>
        {{#times 4}}
          {{>selector index=@index value=item.system.mastery}}
        {{/times}}
        <div class="icrpg-sep-long"></div>
      </div>
    </div>
  {{else if (eq item.type "spell")}}
    <div class="icrpg-chat-description">{{~item.system.description~}}</div>
  <div class="ff-content" style="font-size: var(--font-size-14); line-height: 1.2">
    {{#if item.system.target}}
      <div class="tt-u"><b>{{localize "ICRPG.spell.target"}}: {{item.system.target}}</b></div>
    {{/if}}
    {{#if item.system.duration}}
      <div class="tt-u"><b>{{localize "ICRPG.spell.duration"}}: {{item.system.duration}}</b></div>
    {{/if}}
    {{#if item.system.flavorText}}
      <div style="margin-bottom: 2px"><i>{{item.system.flavorText}}</i></div>
    {{/if}}
    {{#if (or item.system.spellType item.system.spellLevel)}}
      <div
        style="font-family: 'nusaliver', sans-serif; text-transform: uppercase; font-size: 14px; flex: 0; white-space: nowrap; margin-right: 4px; color: var(--c-red); text-align: right">
        <b>{{item.system.spellType}} {{romanize item.system.spellLevel}}</b>
      </div>

    {{/if}}
  {{else}}
    <div class="icrpg-chat-description">{{~item.system.description~}}</div>
  {{/if}}

  {{#if (eq item.parent.type "hardSuit")}}
    <div
      style="font-family: 'nusaliver', sans-serif; text-transform: uppercase; font-size: 14px; flex: 0; white-space: nowrap; margin-right: 4px; color: var(--c-red); text-align: right">
      <b>{{localize "ICRPG.hardSuit.power"}}: {{item.parent.system.power.value}}</b>
    </div>
  {{/if}}
</div>


  {{#*inline "selector"}}
    <div class="icrpg-discrete-selector">
      {{#if (gt value index)}}
        <img src="systems/icrpgme/assets/ui/selector-on.webp">
      {{else}}
        <img src="systems/icrpgme/assets/ui/selector.webp">
      {{/if}}
    </div>
  {{/inline}}

