{{log @root}}
<div>
  <div class="item-header">
    <img class="item-image" src="{{document.img}}"
         title="{{document.name}}" {{#if editable}}data-edit="img" data-action="editImage"
         {{else}}data-action="showArtwork"{{/if}}/>
    <div>
      <input type="text" name="name" value="{{document.name}}" {{readonly readonly}}/>

      {{#if (eq document.type "spell")}}
        <div class="ff-header fs-14 c-red">
          {{#if system.spellType}}{{system.spellType}} {{/if}}
          {{#if system.spellLevel}}{{romanize system.spellLevel}}{{/if}}
        </div>
      {{else}}
        <div class="ff-header fs-14 c-red">{{localizeConcat "TYPES.Item." document.type}}</div>
      {{/if}}

    </div>
    {{#if (eq document.type "spell")}}
      <img src="/systems/icrpgme/assets/ui/magic-red.webp" alt="" class="spell-img-decoration">
    {{/if}}
  </div>
  <div class="icrpg-sep-long" style="margin-top: 4px; margin-bottom: 4px"></div>
</div>

