<section class="tab {{tab.cssClass}} item-description" data-tab="description" data-group="primary">
  {{#if editable}}
    <textarea name="system.description" autosize spellcheck="false"
              placeholder="{{localize "Description"}}">{{system.description}}</textarea>
  {{else}}
    <div>{{system.description}}</div>
  {{/if}}
</section>
